In [2]:
import numpy as np
import pandas as pd

In [3]:
# Đọc và load dữ liệu điểm và lưu vào một dataframe
data = pd.read_excel("test_data/data_ma005.xlsx", index_col = "STT")
data.head()

         MSSV Semester-Year   Coursework  Midterm  Final
STT
1    18721260    1-2024-2025         0.0      NaN    NaN
2    18721690    1-2024-2025         7.0      3.0    5.0
3    20721715    1-2024-2025         7.0      5.0    5.5
4    22721318    1-2024-2025         0.0      NaN    NaN
5    22721667    1-2024-2025         6.0      9.0    5.0

In [4]:
# Điền tất cả những ô điểm trống bằng giá trị 0
data[data.isnull().any(axis = 1)]
data.fillna(value = 0, inplace = True)
data.head()

         MSSV Semester-Year   Coursework  Midterm  Final
STT
1    18721260    1-2024-2025         0.0      0.0    0.0
2    18721690    1-2024-2025         7.0      3.0    5.0
3    20721715    1-2024-2025         7.0      5.0    5.5
4    22721318    1-2024-2025         0.0      0.0    0.0
5    22721667    1-2024-2025         6.0      9.0    5.0

In [5]:
# Tính cột điểm trung bình dựa trên ba cột "Coursework", "Midterm" và "Final" với trọng số tương ứng là 0.2, 0.2, 0.6
data["GPA"] = (0.2*data["Coursework"] + 0.2*data["Midterm"] + 0.6*data["Final"]).round(1)
data.head()

         MSSV Semester-Year   Coursework  Midterm  Final  GPA
STT
1    18721260    1-2024-2025         0.0      0.0    0.0  0.0
2    18721690    1-2024-2025         7.0      3.0    5.0  5.0
3    20721715    1-2024-2025         7.0      5.0    5.5  5.7
4    22721318    1-2024-2025         0.0      0.0    0.0  0.0
5    22721667    1-2024-2025         6.0      9.0    5.0  6.0

Quan sát ngẫu nhiên một sinh viên, tính xác suất sinh viên đó qua học phần.

In [8]:
# Lọc ra các sinh viên có GPA >= 5.0
filter = data[data["GPA"] >= 5.0]
# Đếm số lượng sinh viên qua môn
passed = filter.shape[0]
print(f"Tống số lượng sinh viên: {data.shape[0]}")
print(f"Số lượng sinh viên qua môn: {passed}")

Tống số lượng sinh viên: 379
Số lượng sinh viên qua môn: 362

Quan sát ngẫu nhiên một sinh viên, thấy sinh viên đó thi chưa đạt kì thi giữa kì, tính xác suất người đó thi đặt kì thi cuối kì

In [ ]:
# Lọc ra các sinh viên có cột Midterm < 5.0
not_pass_midterm = data[data["Midterm"] < 5.0]
# Lọc ra các sinh viên có cột Final >= 5.0 từ các sinh viên có cột Midterm < 5.0
pass_final = not_pass_midterm[not_pass_midterm["Final"] >= 5.0]
print(f"Số lượng sinh viên thi chưa đạt giữa kì : {not_pass_midterm.shape[0]}")
print(f"Số lượng sinh viên thi đạt cuối kì nhưng thi không đạta kì : {pass_final.shape[0]}")
pass_final.head()

Số lượng sinh viên thi chưa đạt giữa kì : 30
Số lượng sinh viên thi đạt cuối kì nhưng thi không đặt ở giữa kì : 18

         MSSV Semester-Year   Coursework  Midterm  Final  GPA
STT
2    18721690    1-2024-2025         7.0      3.0    5.0  5.0
48   23721077    1-2024-2025         9.0      4.0    6.0  6.2
69   23721771    1-2024-2025        10.0      4.0    5.5  6.1
89   23720637    2-2023-2024         9.0      2.0    8.5  7.3
91   23720720    2-2023-2024        10.0      4.0    7.5  7.3

Quan sát ngẫu nghiên một sinh viên thì thấy sinh viên đó thi đạt. Tính xác suất sinh viên này thi chưa đạt ở kỳ thi giũa kỳ

In [24]:
# Lọc từ ra các sinh viên qua môn từ các sinh viên thi chưa đặt giữa kì
pass_ = not_pass_midterm[not_pass_midterm["GPA"] >= 5.0]
print(f"Số lượng sinh viên qua môn mà thi chưa đạt giữa kì: {pass_.shape[0]}")

Số lượng sinh viên qua môn mà thi chưa đạt giữa kì: 21